<div layout="row" style="background-color: rgb(231, 231, 231)">
    <div flex="auto"></div>
    <div ng-cloak layout="row" layout-margin flex="100" style="max-width:1024px;">
        <div flex="100">
            <md-list>
                <md-toolbar class="md-menu-toolbar">
                    <div layout="row">
                        <md-toolbar-filler layout layout-align="center center">
                            <span>审计</span>
                        </md-toolbar-filler>

                        <div>
                            <h2 class="md-toolbar-tools">维修部订单：审计模式</h2>
                            <md-menu-bar layout="row">
                                <input type="text" placeholder="输入关键字" id="searchBar" ng-model="settings.searchMode.searchStr">
                                <button ng-click="search()">搜索</button>
                                <md-menu>
                                    <button ng-click="$mdOpenMenu()">
                                        过滤: {{FILTERS[settings.filter.currentFilter]}}
                                    </button>
                                    <md-menu-content width="2">
                                        <md-menu-item><md-button ng-click="toggleFilter('all')">所有</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="toggleFilter('pending')">未完成</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="toggleFilter('repaired')">已完成</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="toggleFilter('notAudited')">未查账</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="toggleFilter('passedAudit')">已查账</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="toggleFilter('opened')">未销单</md-button></md-menu-item>
                                        <md-menu-item><md-button ng-click="toggleFilter('archived')">已销单</md-button></md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <span flex></span>

                                <button ng-click="init()">重置</button>
                            </md-menu-bar>
                        </div>
                    </div>
                </md-toolbar>

                <md-subheader>
                    <span>从</span>
                    <md-datepicker md-placeholder="Start date" ng-model="dateStart"></md-datepicker>
                    <span>到</span>
                    <md-datepicker md-placeholder="End date" ng-model="dateEnd"></md-datepicker>
                    <md-button ng-click="updateList()">更新</md-button>
                    <md-button ng-click="null">导出</md-button>
                </md-subheader>
                <md-divider></md-divider>
                <md-progress-linear ng-show="loading" md-mode="indeterminate"></md-progress-linear>

                <md-content>
                    <section ng-repeat="repairOrder in filteredList track by $index" class="fade-in-item">
                        <md-list-item class="md-3-line" ng-click="goToOrderDetail($index)">
                            <span ng-if="!repairOrder.paid && repairOrder.repairStatus == 0" style="background-color: transparent; width:20px; height: 88px; margin:0 16px 0 0;"></span>
                            <span ng-if="repairOrder.paid && !repairOrder.archived && !repairOrder.passedAudit" style="background-color: rgb(0, 192, 0); width:20px; height: 88px; margin:0 16px 0 0;"></span>
                            <span ng-if="!repairOrder.paid && repairOrder.repairStatus > 0" style="background-color: rgb(255, 205, 55); width:20px; height: 88px; margin:0 16px 0 0;"></span>
                            <span ng-if="repairOrder.archived" style="background-color: rgb(217, 237, 247); width:20px; height: 88px; margin:0 16px 0 0;"></span>
                            <span ng-if="!repairOrder.archived && repairOrder.passedAudit && repairOrder.paid" style="background-color: rgb(63, 81, 181); width:20px; height: 88px; margin:0 16px 0 0;"></span>
                            <div class="md-list-item-text" layout="column" flex>
                                <p><span style="color: black; font-size: 15px; font-weight: normal">{{repairOrder.client}}</span>
                                    {{repairOrder.phone}}</p>
                                <h4>单号 {{repairOrder._id}}</h4>
                                <p>{{repairOrder.description}}</p>
                            </div>
                            <div flex></div>
                            <div layout="column" class="md-list-item-text" style="text-align: right;" layout-padding flex ng-if="repairOrder.deliveryBill || repairOrder.requisitionBill.length > 0">

                            </div>
                            <span flex></span>
                            <div layout="column" class="md-list-item-text" flex style="text-align: right;">
                                <p ng-if="repairOrder.paid">报价: ¥ {{repairOrder.quote}}, {{PAYMENT_METHODS[repairOrder.paymentMethod].display}} <img ng-src="{{PAYMENT_METHODS[repairOrder.paymentMethod].imgUrl}}" height="14" width="28" alt="PaymentIcon"/></p>
                                <p ng-if="!repairOrder.paid">报价: ¥ {{repairOrder.quote}}, 未收款</p>
                                <p>接单： {{repairOrder.servedBy.name}}<span ng-if="repairOrder.technician">, 维修： {{repairOrder.technician.name}}</span><span>, 收银：{{repairOrder.cashier.name}}</span></p>
                                <p ng-switch="repairOrder.repairStatus">
                                <span ng-switch-when="0">
                                    未完成
                                    <small ng-if="repairOrder.deliveryBill">, 送{{repairOrder.deliveryBill.code}}</small>
                                    <small ng-if="repairOrder.requisitionBill.length == 1">, 调{{repairOrder.requisitionBill[0].code}}</small>
                                    <small ng-if="repairOrder.requisitionBill.length > 1">, 调{{repairOrder.requisitionBill.length}}张</small>
                                </span>
                                    <span ng-switch-when="1">已完成<small ng-if="repairOrder.deliveryBill">, 送{{repairOrder.deliveryBill.code}}</small></span>
                                </p>
                            </div>
                            <md-menu class="md-secondary">
                                <md-button ng-click="$mdOpenMenu()" ng-disabled="repairOrder.archived">
                                    操作
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="showAuditConfirm($event, $index)">
                                            标记已查账
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="showArchiveConfirm($event, $index)">
                                            销单
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-list-item>
                        <md-divider></md-divider>
                    </section>
                </md-content>
            </md-list>
        </div>

    </div>
    <div flex="auto"></div>
</div>