<div ng-controller="LoginController" layout="column" layout-margin>
    <md-content ng-if="!currentStaff">
        <form name="loginForm" ng-submit="login(credentials)" id="login-form">
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>工号</label>
                    <input type="password" ng-model="credentials.code">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>密码</label>
                    <input type="password" ng-model="credentials.password">
                </md-input-container>
            </div>
            <div layout="row">
                <md-button class="md-raised md-primary" type="submit" flex>登录</md-button>
            </div>
        </form>
    </md-content>

    <md-content ng-if="currentStaff">
        <p ng-if="currentStaff">当前登录为：{{currentStaff.name}}</p>
        <p>正在跳转....或者...</p>
        <a href="#!/repair/list">点我</a>
    </md-content>
</div>