body {
    background-color: rgb(231, 231, 231);
    /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
}

.shadow-background{
    background-color: rgb(231, 231, 231)
}

.cost{
    color: white;
}
.cost:hover{
    color: inherit;
}

.dropdown-menu{
    border: 1px solid rgba(90,138, 14, .15);
    box-shadow: 0 6px 12px rgba(90,138, 14, .175);
}
/*nav{*/
/*margin: 0;*/
/*padding: 0;*/
/*height: 50px;*/
/*background-color: white;*/
/*border-bottom: 1px solid rgba(15, 107, 75, 0.5);*/
/*font-size: 16px;*/
/*}*/

/*div.nav-container{*/
/*max-width: 924px;*/
/*margin: auto;*/
/*}*/

a{
    text-decoration: none;
    color: inherit;
}

/*nav .nav-item{*/
/*display: block;*/
/*padding: 14px 16px;*/
/*float: left;*/
/*}*/

/*nav .nav-item.right{*/
/*float:right;*/
/*}*/

.navbar-default{
    border-color: rgba(32, 84, 215, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(32, 84, 215, 0.5);
}

#login-form, #change-password-form{
    /*max-width: 500px;*/
    background-color: white;
    padding: 20px 32px;
    width: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0, 0.1);
    box-shadow: 0 1px 15px rgba(0,0,0, 0.2);
}

md-dialog#create-order-form, md-dialog#payment-form, md-dialog#edit-repairorder-form{
    width: 418px;
}

#create-order-form label, md-dialog#payment-form label, md-dialog#edit-repairorder-form label {
    /*font-size: 16px;*/
}

#login-form label{
    /*font-size: 16px;*/
}

.jxbtn{
    border-radius: 3px;
    border: 1px solid rgba(32, 84, 215, 0.5);
    padding: 7px 13px;
    background: none;
    color: rgba(32, 84, 215, 0.9);
}

.jxbtn:focus{
    outline: none;
}

.jxbtn:hover{
    background-color: rgba(32, 84, 215, .75);
    color: white;
}

md-toast{
    margin-top: 64px;
}

span.md-list-item-right{
    margin-left: 14px;
    margin-right: 14px;
}

#searchBar{
    border-top: none;
    border-left: none;
    border-right: none;
    /*font-size: 14px;*/
}

#searchBar:focus{
    outline: none;
}

/*.fade-in-item{*/
    /*-webkit-animation: fade 1s;*/
    /*-o-animation: fade 1s;*/
    /*animation: fade 1s;*/
/*}*/

/*@-webkit-keyframes fade {*/
    /*0%{*/
        /*opacity: .1;*/
    /*}*/
    /*100%{*/
        /*opacity: 1;*/
    /*}*/
/*}*/

/*@keyframes fade {*/
    /*0%{*/
        /*opacity: .1;*/
    /*}*/
    /*100%{*/
        /*opacity: 1;*/
    /*}*/
/*}*/