<md-dialog aria-label="repairorder-payment" id="payment-form">
    <form ng-cloak novalidate ng-submit="paymentForm.$valid && payRepairOrder()" name="paymentForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>收款</h2>
                <span flex></span>
                <md-button ng-click="cancel()">关闭</md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column">
            <div class="md-dialog-content">
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label for="order-id">订单</label>
                        <input id="order-id" type="text" ng-model="payment.id" disabled>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label for="method">收款方式</label>
                        <md-select id="method" type="text" ng-model="payment.paymentMethod">
                            <md-option ng-repeat="paymentMethod in paymentMethods" ng-selected="$index===0" ng-value="paymentMethod.value">
                                {{paymentMethod.display}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label for="receipt">收款 ¥</label>
                        <input name="receipt" id="receipt" type="text" ng-model="payment.receipt">
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" type="submit" flex ng-disabled="!paymentForm.$valid">确认</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>