<div layout="row" class="shadow-background">
    <div flex></div>
    <div layout="row" layout-padding layout-margin style="max-width: 980px;" flex="100">
        <div flex="20">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h3>
                        <span>操作</span>
                    </h3>
                </div>
            </md-toolbar>
            <md-content>
                <md-list>
                    <md-subheader class="md-no-sticky">
                        基本
                    </md-subheader>
                    <md-list-item ng-click="showEditDialog($event)">
                        <p>修改信息</p>
                    </md-list-item>
                    <md-list-item ng-click="showPaymentDialog($event)" ng-if="!repairOrder.paid">
                        <p>收款</p>
                    </md-list-item>
                    <md-list-item ng-click="showCompleteConfirm($event)" ng-if="repairOrder.technician && repairOrder.repairStatus == 0">
                        <p>维修完成</p>
                    </md-list-item>
                    <md-list-item ng-click="showAssignmentConfirm($event)" ng-if="!repairOrder.technician">
                        <p>分配给我</p>
                    </md-list-item>
                    <md-list-item ng-click="showAuditConfirm($event)" ng-if="!repairOrder.passedAudit">
                        <p>查账</p>
                    </md-list-item>
                    <md-list-item ng-click="showArchiveConfirm($event)">
                        <p>销单</p>
                    </md-list-item>
                </md-list>
                <md-divider></md-divider>
                <md-list>
                    <md-subheader class="md-no-sticky">
                        添加单据
                    </md-subheader>
                    <md-list-item ng-click="showDeliveryBillPrompt($event)" ng-if="!repairOrder.deliveryBill">
                        <p>送货单</p>
                    </md-list-item>
                    <md-list-item ng-click="showRequisitionBillPrompt($event)">
                        <p>调拨单</p>
                    </md-list-item>
                </md-list>
                <md-list>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">
                        打印
                    </md-subheader>
                    <md-list-item ng-click="printInvoice()">
                        <p>收据</p>
                    </md-list-item>
                    <md-list-item ng-click="printReceipt()">
                        <p>回执</p>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <div flex="60" flex-xs="100" layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h3>
                        <span>订单信息</span>
                    </h3>
                </div>
            </md-toolbar>
            <md-content>
                <md-list ng-cloak>
                    <md-subheader class="md-no-sticky">
                        <span>订单: {{repairOrder._id}}</span>
                    </md-subheader>
                    <md-divider></md-divider>
                    <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
                    <md-list-item ng-click="null">
                        <p>客户</p>
                        <span flex></span>
                        <p>{{repairOrder.client}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="null" ng-if="repairOrder.phone">
                        <p>电话</p>
                        <span flex></span>
                        <p>{{repairOrder.phone}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="null" style="word-wrap: break-word;">
                        <p>内容</p>
                        <span flex></span>
                        <p flex="60">{{repairOrder.description}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="null">
                        <p>报价</p>
                        <span flex></span>
                        <p>¥ {{repairOrder.quote}}</p>
                    </md-list-item>
                    <md-divider ng-if="repairOrder.cost"></md-divider>
                    <md-list-item ng-click="toggleCostDisplay()" ng-if="repairOrder.cost">
                        <p>成本</p>
                        <span flex></span>
                        <p ng-show="displayCost">¥ {{repairOrder.cost}}</p>
                    </md-list-item>
                    <md-divider  ng-if="repairOrder.paid"></md-divider>
                    <md-list-item ng-click="null"  ng-if="repairOrder.paid">
                        <p>收款</p>
                        <span flex></span>
                        <p>¥ {{repairOrder.receipt}}, {{repairOrder.cashier.name}}, {{formattedPaymentDate}}</p>
                    </md-list-item>
                    <md-list-item ng-click="null" ng-if="repairOrder.paid">
                        <p>付款方式</p>
                        <span flex></span>
                        <p>{{PAYMENT_METHODS[repairOrder.paymentMethod].display}} <img ng-src="{{PAYMENT_METHODS[repairOrder.paymentMethod].imgUrl}}" height="14" width="28" alt="PaymentIcon"/></p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="null">
                        <p>开单</p>
                        <span flex></span>
                        <p>{{repairOrder.servedBy.name}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="null">
                        <p>技师</p>
                        <span flex></span>
                        <p ng-if="repairOrder.technician">{{repairOrder.technician.name}}</p>
                        <p ng-if="!repairOrder.technician">未分配</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="null">
                        <p>创建日期</p>
                        <span flex></span>
                        <p>{{formattedCreateDate}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </div>
        <div flex="20" layout="column" flex>
            <md-list>
                <md-content>
                    <section ng-if="repairOrder.deliveryBill">
                        <md-subheader>送货单</md-subheader>
                        <md-list-item ng-click="null">
                            <p>{{repairOrder.deliveryBill.code}}</p>
                            <md-icon class="md-secondary" ng-click="showEditDeliveryBillPrompt($event)" aria-label="Edit" md-svg-src="/image/edit.svg"></md-icon>
                        </md-list-item>
                        <md-divider></md-divider>
                    </section>
                    <section ng-if="repairOrder.requisitionBill.length > 0">
                        <md-subheader>调拨单</md-subheader>
                        <md-list-item ng-repeat="requisition in repairOrder.requisitionBill" ng-click="null">
                            <p>{{requisition.code}}</p>
                            <md-icon class="md-secondary" ng-click="showEditRequisitionBillPrompt($event, requisition)" aria-label="Edit" md-svg-src="/image/edit.svg"></md-icon>
                        </md-list-item>
                        <md-divider></md-divider>
                    </section>
                </md-content>
            </md-list>
        </div>
    </div>
    <div flex></div>
</div>