<!DOCTYPE html>
<html ng-app="jxpro">
<head>
    <meta charset="UTF-8">
    <title>JXPro 嘉信</title>
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/bower_components/css-ripple-effect/dist/ripple.min.css">

    <link rel="stylesheet" href="css/style.css">

    <!-- Libraries-->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <!--<script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>-->
    <script src="/bower_components/moment/min/moment-with-locales.js"></script>
    <script src="/bower_components/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/angular-moment-picker/dist/angular-moment-picker.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
    <!--<script src="/bower_components/jquery/dist/jquery.min.js"></script>-->
    <!--<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->

    <!-- my js files -->
    <script src="/app.js"></script>
    <script src="/services/ApiService.js"></script>
    <script src="/services/ToastService.js"></script>
    <script src="/services/AuthService.js"></script>
    <script src="/modules/repairlist/repairlist.js"></script>
    <script src="/modules/login/login.js"></script>
    <script src="/modules/repairdetail/repairdetail.js"></script>
    <script src="/modules/print/print.js"></script>
    <script src="/modules/audit/auditMode.js"></script>
    <script src="/modules/changePassword/changePassword.js"></script>
    <script src="/services/Constants.js"></script>
    <script src="/services/RepairOrderService.js"></script>
    <script src="/services/DateService.js"></script>
</head>
<body ng-controller="ApplicationController">

<div>
    <section layout="row" flex>
        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">导航栏</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">
                <md-list flex>
                    <md-list-item ng-click="goTo('/list/')">
                        <p flex>订单列表</p>
                    </md-list-item>
                    <md-list-item ng-click="close()">
                        <p flex>关闭</p>
                    </md-list-item>
                    <!--<md-list-item>-->
                        <!--<md-button ng-click="null" flex>制作部</md-button>-->
                    <!--</md-list-item>-->
                    <!--<md-list-item>-->
                        <!--<md-button ng-click="close()" flex>Close</md-button>-->
                    <!--</md-list-item>-->
                </md-list>
            </md-content>
        </md-sidenav>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <!--<md-button aria-label="我"></md-button>-->
                <h2><span>嘉信</span></h2>
                <md-button ng-click="toggleLeft()">维修部</md-button>
                <md-button ng-click="goBack()" ng-show="backToUrl">返回</md-button>
                <span flex></span>
                <md-button ng-click="toggleRight()" ng-if="currentStaff" ng-show="!printMode">{{currentStaff.name}}</md-button>
                <md-button ng-click="toggleRight()" ng-if="!currentStaff" ng-show="!printMode">登录</md-button>
            </div>
        </md-toolbar>

        <md-sidenav class="md-sidenav-right" md-component-id="right">

            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">登录信息</h1>
            </md-toolbar>
            <md-content layout-padding>
                <form name="loginForm" ng-submit="login(credentials)" ng-if="!currentStaff">
                    <div layout="row">
                        <md-input-container class="md-block" flex>
                            <label>工号</label>
                            <input type="password" ng-model="credentials.code">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container class="md-block" flex>
                            <label>密码</label>
                            <input type="password" ng-model="credentials.password">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-button class="md-raised md-primary" type="submit" flex>登录</md-button>
                    </div>
                </form>

                <section ng-if="currentStaff">
                    <div layout="column">
                        <div layout="row" layout-padding layout-margin>
                            <span flex>登录为： {{currentStaff.name}}</span>
                        </div>
                        <span flex></span>
                        <div layout="row">
                            <md-button ng-click="goTo('/staff/changePassword/')" class="md-raised md-warn md-primary" flex>修改密码</md-button>
                        </div>
                        <div layout="row">
                            <md-button ng-click="logout()" class="md-raised md-primary" flex>登出</md-button>
                        </div>
                    </div>
                </section>
            </md-content>

        </md-sidenav>
    </section>
</div>

<div ng-view></div>

</body>
</html>