<div style="font-size: 16px; text-align: center;">
    <div style="margin: auto; ">
        <h1 ng-if="typeId == 0">订单号： {{repairOrder._id}}</h1>
        <h1 ng-if="typeId == 1">收款单</h1>
        <p style="text-align: center; font-size: 12px;"  ng-if="typeId == 0">
            电话： 84775345 <span style="margin-left: 40px;">传真： 84775312</span> <span style="margin-left: 40px;">地址： 钟村镇毓秀东路38号</span>
        </p>
        <p style="text-align: center; font-size: 12px;"  ng-if="typeId == 0">欢迎关注微信公众号： jx84775345 咨询详情！</p>

        <div>
            <table>
                <tr ng-if="typeId == 1">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-if="typeId == 1">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-if="typeId == 1">
                    <td></td>
                    <td></td>
                    <td><small>订单号： {{repairOrder._id}}</small></td>
                </tr>
                <tr>
                    <td colspan="3">—————————————————————————————————————————————</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px;">客户： {{repairOrder.client}}</td>
                    <td><span ng-if="repairOrder.phone && typeId == 0">电话: {{repairOrder.phone}}</span></td>
                    <td>日期： {{formattedCreateDate}}</td>
                </tr>
                <tr>
                    <td colspan="3">—————————————————————————————————————————————</td>
                </tr>
                <tr>
                    <td colspan="3" height="180px"
                        style="text-align: left; padding-left: 30px;"><p>{{repairOrder.description}}</p></td>
                </tr>
                <tr>
                    <td colspan="3">—————————————————————————————————————————————</td>
                </tr>
                <tr>
                    <td style="padding-left: 40px;"><span ng-if="typeId == 0">报价： ¥{{repairOrder.quote}}</span></td>
                    <td>收款： ¥{{repairOrder.receipt}}</td>
                    <td>开单： {{repairOrder.servedBy.name}}</td>
                </tr>
                <tr ng-if="typeId == 0">
                    <td style="padding-top: 10px; padding-left: 40px;"></td>
                    <td style="padding-top:10px;">技师： {{repairOrder.technician.name}}</td>
                    <td style="padding-top:10px;">取件人签收： </td>
                </tr>
                <tr>
                    <td colspan="3">—————————————————————————————————————————————</td>
                </tr>
            </table>
        </div>
    </div>
</div>