<md-dialog aria-label="place-order" id="create-order-form">
    <form ng-cloak name="createOrderForm" ng-submit="createOrderForm.$valid && placeRepairOrder()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>落单</h2>
                <span flex></span>
                <md-button type="button" ng-click="cancel()">关闭</md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout-gt-sm="column">
            <div class="md-dialog-content">
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label for="client">客户</label>
                        <input id="client" name="client" maxlength="16" type="text" ng-model="repairOrder.client" required>
                        <div ng-messages="createOrderForm.client.$error">
                            <div ng-message="required">请填写客户名</div>
                            <div ng-message="md-maxlength">客户名字长度最大为16个字</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label for="phone">电话</label>
                        <input id="phone" name="phone" type="text" ng-model="repairOrder.phone" ng-pattern="'[0-9]{0,11}'">
                        <div ng-messages="createOrderForm.phone.$error">
                            <div ng-message="pattern">电话号码应为0到11位数字</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label for="quote">报价 ¥</label>
                        <input id="quote" name="quote" type="text" ng-model="repairOrder.quote" required min="0" ng-pattern="'[0-9]+(\.[0-9]{1,2}){0,1}'">
                        <div ng-messages="createOrderForm.quote.$error">
                            <div ng-message="required">请填写报价</div>
                            <div ng-message="min">价钱不能低于0</div>
                            <div ng-message="pattern">请填写有效的数目</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label for="cost">成本 ¥</label>
                        <input name="cost" id="cost" type="text" ng-model="repairOrder.cost" ng-pattern="'[0-9]+(\.[0-9]{1,2}){0,1}'" min="0">
                        <div ng-messages="createOrderForm.cost.$error">
                            <div ng-message="min">价钱不能低于0</div>
                            <div ng-message="pattern">请填写有效的数目</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label for="description">内容</label>
                        <textarea name="description" id="description" rows="3" md-select-on-focus ng-model="repairOrder.description" required></textarea>
                        <div ng-messages="createOrderForm.description.$error">
                            <div ng-message="required">内容不能为空</div>
                        </div>
                    </md-input-container>
                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" type="submit" ng-disabled="!createOrderForm.$valid" flex>落单</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>