<div ng-controller="ChangePasswordController" layout="column" layout-margin>
    <md-content ng-if="currentStaff">
        <form name="changePasswordForm" ng-submit="changePassword()" id="change-password-form">
            <div layout="row">
                <md-input-container class="md-block" required flex>
                    <label>旧密码</label>
                    <input type="password" ng-model="credentials.oldPassword">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block" required flex>
                    <label>新密码</label>
                    <input type="password" ng-model="credentials.newPassword">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block" required flex>
                    <label>重新输入新密码</label>
                    <input type="password" ng-model="credentials.newPasswordRetype">
                </md-input-container>
            </div>
            <div layout="row">
                <md-button class="md-raised md-primary" type="submit" flex>保存</md-button>
            </div>
        </form>
    </md-content>
</div>